<div  class="profile-card-holder "  >
    <div fxLayout="column" >
        <div fxLayout="row" fxLayoutAlign="space-around center"  >
            <div  class="banner">
                 <img width="100" [style.borderRadius]="'50%'" src="./assets/user-image.jpg">
            </div>
        </div>
        <div   class="profile-details mat-elevation-z8" >
            <div fxLayout="column" class="profile-details-holder" fxLayoutAlign="space-around center">
                <h1 class="mat-headline center-align" >Ubaid Ur Rehman</h1>
                <h1 class="mat-subheading-1 center-align" >FrontEnd Developer</h1>
                <button class="Follow " mat-raised-button color="warn"><a class="link-profile" href="https://www.linkedin.com/in/ubaid-ur-rehman-7724b0163/">Follow</a></button>
            </div>
        </div>
        
    </div>
</div>